*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
#Esperanza{
    width: 210px;
    height: 100vh;
    background-color: green;
}
#Unidad{
    width: 210px;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Unidad img{
    width: 420px;
}
#Sangre{
    width: 210px;
    height: 100vh;
    background-color: red;
}